<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="ml.js"></script>
    <!--<link rel="stylesheet" href="main.component.scss" >-->
    <title>Document</title>
</head>
<body onload="mostrarFechaHoraActual()">
    <header>


        <section class="principal">  
            <button mat-button [matMenuTriggerFor]="menu">Facultad</button>
            <mat-menu #menu="matMenu" [yPosition]="'below'" [overlapTrigger]="true">
              <button mat-menu-item>Salud</button>
              <button mat-menu-item>Ingenieria</button>
              <button mat-menu-item>Estudios Sociales y Empresariales</button>
            </mat-menu>
            <h5 id="current_date"></h5>
            <h1>REVISTA UAM</h1>
            <button>crear cuenta</button>
            <button>
                iniciar seción
                <img [src]="logo" alt="My Image">
            </button>
        </section>  
    </header>
    <hr>
    <main>
     <section class="salud">
        <h1>Facultad de la salud</h1>
        <img id="salud" [src]="imageSalud" alt="holi">
     </section>
     <section class="ingenieria"></section>
     <section class="EstudiosSociales"></section>
    </main>
    <footer>
    </footer>
</body>
</html>
