<!-- archivo.component.html -->
<div class="container">
<form>
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input type="text" class="form-control" id="titulo" placeholder="Ingrese el título">
    </div>
    <div class="mb-3">
      <label for="resumen" class="form-label">Resumen</label>
      <textarea class="form-control" id="resumen" rows="3" placeholder="Ingrese el resumen"></textarea>
    </div>
    

    <div class="message">
      Sube aquí tu artículo
    </div>
    <div class="icon">
     
    </div>
    <div>
      <input type="file" accept=".pdf" (change)="onFileSelected($event)" hidden>
      <button class="btn btn-primary" (click)="selectPdf()">Subir PDF</button>
    </div>
  
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>