<main>
    <div id="background">
        <img src = "assets/images/uam.png" id="backgroundimage">      
        <div class="centered">
            La revista de la Universidad Autónoma de Manizales (UAM) busca difundir el conocimiento e investigación
            generados por su comunidad universitaria. En cada número se encuentran artículos, ensayos, reseñas y entrevistas
            sobre temas de actualidad en distintas áreas del conocimiento. La UAM es un espacio plural e interdisciplinario que
            fomenta el pensamiento crítico y la creatividad. La universidad está comprometida con la formación integral de sus
            estudiantes, la investigación de calidad y la responsabilidad socia
        </div>
    </div>

    <div class="container my-5">
        <div class="d-flex align-items-center justify-content-between bg-light mb-3 p-3">
            <h2 class="m-0 roboto text-danger roboto fw-bold">Popular Posts</h2>
            <a href="#" [routerLink]="['/articles']" class="btn btn-outline-danger">View All <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>