<body>
    <form [formGroup] = "form">
        <div class="login-header">
            <header>Login</header>
        </div>
        <div class="input-box">
            <input formControlName="username" type="text" name="usuario"class="form-control" />
            <div *ngIf="getForm['username'].errors && (getForm['password'].dirty || getForm['password'].touched)" class='error-message'> 
                <label>por favor ingrese un usuario valido </label>
            </div>
        </div>
        <div class="input-box">
            <input  formControlName="password" type="password" class="form-control" />
            <div *ngIf="getForm['password'].errors && (getForm['password'].dirty || getForm['password'].touched)" class='error-message'> 
                <label>por favor ingrese una contraseña valida valido </label>
            </div>
        </div>
        <div class="input-submit">
            <button [disabled]="getForm['username'].errors || getForm['password'].errors" type="button" name= "btn_login" (click)="Register()"class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>
        <div class="sign-up-link">
            <p>Don't have account? <a href="#" [routerLink]="['/signup']">Sign Up</a></p>
        </div>
    </form>
</body>